.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
  padding-bottom: 0px;
  /*background-color: #FDEBD0;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  /*line-height: 40px;*/
  /*padding-bottom: 19px;*/
}

.header img {
  float: left;
/*  width: 100px;
  height: 100px;*/
  /*background: #555;*/
}

.header h1 {
  position: relative;
  top: 2px;
  left: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 30px;
  padding-bottom: 19px;
  color: #000;
  border-top: 1px solid #e5e5e5;
  background-color: #EAEDED;
  box-shadow: 0px 500px 0px 500px #EAEDED;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive iFrame */
/* fog Google Maps */ 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 30%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive iFrame */
/* fog Google Calendar */ 
.responsive-iframe-container-calendar {
    position: relative;
    padding-bottom: 120%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container-calendar iframe,   
.vresponsive-iframe-container-calendar object,  
.vresponsive-iframe-container-calendar embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*background image in the header*/
.wide {
  padding-top: 0px;
  width:100%;
  height:250px;
  /*height:calc(100% - 1px);*/
  background: url("../images/s0815009.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:600;
  font-size:18pt;
  padding-top:200px;
  text-align:center;
}

.line {
  padding-top:25px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.navbar {
    margin-bottom: 0 !important;
}

.lead {
    margin-bottom: 0 !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  .logo {
    font-size:32pt;
    padding-top:180px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 15px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
