/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Exo:900);*/

/* Magnific Popup Custom CSS */
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }
/*
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }
*/
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

/*
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }
*/

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/* Wookmark Custom CSS */

#tiles {
  list-style-type: none;
  position: relative; 
  margin: 0;
  padding: 0;
}

#tiles li {
  width: 200px;
  background-color: rgb(230,230,230);
  /*border: 1px solid #e2e2e2;*/
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; 
  cursor: pointer;
  
        -moz-box-sizing: border-box;
           box-sizing: border-box;
		   
  /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(91, 91, 91, 0.26);*/
  box-shadow:inset 1px 1px 0 rgba(220, 220, 220, 0.25), 1px 1px 2px rgba(59, 59, 59, 0.26);
padding: 0px;
}


.wookmark-placeholder {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}


#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}


    #tiles li img {
      width: 100%;
      height: auto;
	  display: block;
    }
	
	#tiles li p {
		color: #666;
		font-size: 14px;
		font-family: sans-serif;
		
		line-height: 1.231;
		text-align: left;
		
		
		line-height: 25px;
		overflow: hidden;
		
		margin:2px 10px 10px 10px;
		height: 40px;
	}


/*Pimax CSS*/

#pimax,.pimax {
background-color: #FFF;
width:100%;
margin:0px auto;
/*font-family: Calibri;*/
font-size: 14px;
text-align: center;
border: 1px solid #CFCFCF;
}

.pimax-photo-list-title {
color: rgb(87, 129, 212);
display: inline-block;
font-weight: bold;
overflow: hidden;
/*font-family: Calibri;*/
font-size: 14px;
height: 22px;
float: left;
width: 100%;
}

.pimax-photo-list-views {
color: #555;
display: inline-block;
font-size: 12px;
float: left;
}

.pimax-duration {
background-color: black;
color: white;
padding: 2px 3px;
font-weight: bold;
position: absolute;
bottom: 52px;
right: 0;
opacity: 1;
line-height:normal;
}

.pimax-definition {
background-color: black;
color: white;
padding: 2px 3px;
font-weight: bold;
position: absolute;
top: 0;
left: 0;
opacity: 1;
line-height:normal;
}

#pimax-lightbox {position:fixed;background-color:rgba(0,0,0,0.9);z-index:100;width:100%;height:100%;left:0;top:0;display:none;}

#pimax-photo-lightbox {opacity:1;}

#pimax-iframe-holder {
width:100%; 
position:absolute; 
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: auto;
height: 480px;
}

.pimax-loading {
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: auto;
width: 120px;
height: 30px;
color: white;
font-size: 30px;
}

#pimax-header {
background-color: rgb(53,53,53);
font: 24px Arial;
color: white;
line-height: 25px;
height: 120px;
text-align: left;
position: relative;
background-position: center center;
background-size: cover;
}

#pimax-header-wrapper {
position:relative;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}

#pimax-stat-holder {
float: right;
height: 100%;
}


.pimax-stat {
float: right;
margin: 40px 15px;
font: 11px Arial;
color: #fff;
margin-top: 40px;
text-align: center;
}

#pimax-photo-list-div {
width: 100%;
text-align: left;
display: inline-block;
background-color: #FFF;
}

.pimax-stat-count {
font: 18px Arial;
padding-bottom: 5px;
display: inline-block;
}

.pimax-user-icon {
display: inline-block;
height:100%;
}

.pimax-user-title {
display: inline-block;
/*font-family: Calibri;*/
font-size: 24px;
vertical-align: top;
height: 100%;
line-height: 120px;
}

.pimax-user-icon  img{
vertical-align:middle; height:80px; margin: 20px; display:inline-block;
border: none;
width: auto;
border-radius: 3px;
margin-left: 30px;
}

.pimax-subscribe{
display: inline-block;
width: 150px;
height: 25px;
overflow: hidden;
position: absolute;
top: 0;
margin: auto;
left: 0;
bottom: 0;
right: 0;
}

.pimax-subscribe div {
position:static !important;
vertical-align: top !important;
}

.pimax-subscribe iframe {
position:static !important;

}

#pimax-header-wrapper>a {
text-decoration: none;
color: white;
height: 100%;
display: inline-block;
outline: none;
}

#pimax-tabs {
text-align: left;
background-color: #FFF;
padding-left: 30px;
padding-right: 30px;
margin-top: 22px;
}

.pimax-tab,.pimax-encloser-comment-button {
background-color: #FFF;
color: #666;
text-shadow: 0 1px 0 #fff;
display: inline-block;
margin: 5px;
margin-top: 10px;
/*padding: 4px 10px;*/
cursor: pointer;
cursor: hand;
/*max-width: 150px;*/
height: 23px;
overflow: hidden;
line-height: 23px;
box-sizing: content-box;
border-radius: 2px;
/*font-family: Roboto Condensed;*/
font-size: 16px;
padding: 5px 11px;
}

.pimax-tab:hover {
background-color: rgb(234, 234, 234);
}

.pimax-tab-hover {
	color:white;
	/*background-color: rgb(87, 129, 212) !important;*/
	background-color: #1b7fcc !important;
	text-shadow:none;
}


#pimax-load-more-div {
  align:middle;
width: 100%;
height: 40px;
line-height: 1;
background-color: rgb(212, 212, 212);
color: #666;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
border: none;
outline:none;
font-size: 15px;
font-weight: 900;
/*font-family: 'Exo', Calibri, sans-serif;*/
line-height: 1px;
border-radius: 0px;
}

#pimax-load-more-div:hover {
color: white;
/*background-color: rgb(87, 129, 212);*/
background-color: #1b7fcc;
text-shadow:none;
}

.pimax-load-more-div-click {
color: white !important;
background-color: #1b7fcc !important;
/*background-color: #5781d4 !important;*/
text-shadow:none !important;
}

#pimax-select{
width: 90%;
font-size: 14px;
margin-top: 20px;
border: 1px solid #ccc;
border-radius: 4px;
height: auto;
padding: 8px;
outline: none;
background-color:rgb(232, 232, 232);
}

#pimax-select-box{
	display:none;
}

#pimax-select > option {
  background: white;
  color:#5A5A5A;
  cursor:pointer;
}

#pimax-encloser {
margin-top: 15px;
}

/*Styles Added in 2.0*/

#pimax-showing-title {
margin-top: 20px;
width: 100%;
}

#pimax-showing-title .pimax-tab {
width: 100%;
box-sizing: border-box;
height: auto;
margin: 0;
padding: 6px;
}

.pimax-album-photo-count {
font-size: 20px;
font-weight: bold;
}

.pimax-album-line {
width: 40%;
border: 2px solid rgb(218, 218, 218);
display: inline-block;
}

.pimax-album-line-wrapper {
font-size: 7px;
margin-top: 4px;
line-height: 9px;
}

.pimax-album-photo-count-box {
overflow: auto;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 85px;
line-height: 20px;
/* border-top: 10px solid rgb(205, 205, 205); */
/* border-bottom: 10px solid rgb(205, 205, 205); */
}

.pimax-album-photo-count-wrapper {
position: absolute;
right: 0;
top: 0;
height: 100%;
background-color: rgba(0,0,0,0.5);
color: white;
width: 30%;
text-align: center;
}

/*Fitvids*/

.fluid-width-photo-wrapper{width:100%;position:relative;padding:0;}
.fluid-width-photo-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

/*Responsive media queries*/


@media all and (max-width: 800px) , screen and (max-device-width: 800px) {

	#pimax-stat-holder {
	display:none;
	}

	.pimax-subscribe {
	left:initial;
	}

	#pimax-select-box{
		display:block;
	}

	#pimax-tabs {
		display:none;
	}
	
	/*.pimax-photo-comment {
		width: 90%;
	}*/
	
	.pimax-user-icon img {
		margin-left:10px;
	}

}





@media all and (max-width: 500px) , screen and (max-device-width: 500px) {

	#pimax-stat-holder {
	display:none;
	}

	.pimax-subscribe {
	display:none;
	}

	.pimax-tab {
	width: 42%;
	text-align: center;
	}
	
	.pimax-add-comment-button {
		width: 35%;
	}	
	
	.pimax-comment-textbox {
		width: 85%;
	}

}

@media all and (max-width: 350px) , screen and (max-device-width: 350px) {

	.pimax-tab {
	width: 90%;
	text-align: center;
	}

}

/*Pimax 3.0 styles*/	
#pimax-search-holder {
  padding: 0px 12px;
  height: 26px;
  display: inline-block;
  background-color: rgba(255,255,255,0.85);
  margin-top: 45px;
  margin-right: 30px;
  border-radius: 8px;
  overflow: hidden;
}

#pimax-search-box {
  background-color: rgba(0,0,0,0);
  margin: 0px !important;
  vertical-align: top;
  height: 24px;
  border: none;
  color: black;
  outline: none;
  /*font: 14px Calibri;*/
  padding-left: 0px;
}

.pimax-search-icon {
  font-size: 14px !important;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 5px;
  color: black;
}

.pimax-not-found {
text-align: center;
}


/*Good Will update*/

#pimax-stat-holder {
    display: none;
}

.pimax-subscribe {
  left: 80%;
}

.pimax-user-title {
    /*font-family: fantasy;*/
    font-size: 24px;
}

.pimax-definition {
    display: none;
}

.pimax-duration {
    background-color: rgba(0,0,0,0.6);
    padding: 4px 6px;
    border-radius: 3px;
    margin: 10px;
    font-size: 11px;
}

.pimax-photo-list-views {
    font-size: 11px;
}

.pimax-tab {
    /*font-family: fantasy;*/
    font-size: 18px;
    padding: 7px 15px;
}


#pimax-load-more-div {
    width: 50%;
    height: 60px;
    margin: 4%;
    margin-top: 0px;
    box-sizing: border-box;
    font-size: 22px;
    /*font-family: fantasy;*/
    font-weight: normal;
}
