<h3>Our saint</h3>
<p>
Saint Ephraim was born in the city of Nisibis (today's Nusaybin in southeastern Turkey) in 306, just as the Great Persecution of Roman Emperor Diocletian was coming to an end. It is thought that he was born into a Christian family. He was later baptized, ordained deacon and appointed as a teacher by the first Bishop of Nisibis, St Jacob. As a teacher, St Ephraim took up the responsibility of passing on the Orthodox faith in a society where pagan religions, Judaism and early Christian sects vied with one another for adherents. He therefore set about writing Biblical commentaries, homilies and great numbers of hymns as a means of protecting the deposit of truth given to the Church.He called his hymns madrashe - that is, doctrinal hymns - and in the following prayer he compares himself to a herdsman, protecting Christ's flock in enclosures of madrashe.
</p>
<br><br>
You are most welcome to visit us or to make your spiritual home with us. Whatever the purpose of your visit to this website today, may God bless you!
<br><br>
Everyone is welcome!
<br><br>
</p>
