<h2>History of the Parish</h2>
<br>
<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-6">
		<img class="img-thumbnail center-block" src="images/MitrAntony.jpg"/>
	</div>
	<div class="col-md-9">
		<p>
			In 1973, Metropolitan Anthony came to receive an honorary doctorate from the University. During his visit Metropolitan Anthony also served the Divine Liturgy, for the small number of Russian Orthodox Christians living here which as far as we know, was the first occasion on which the Liturgy was served in Cambridge and we regard Vladyka Anthony's visit as the founding event in the life of our parish.
			A priest was sent from London to celebrate the Liturgy every month. By June 1978, Metropolitan Anthony gave the Community its own antimension. The community was placed in the care of Archpriest Basil Osborne who came to Cambridge from Oxford one Saturday each month, for over 20 years, to serve the Liturgy and care for the people.
			<br><br>
			Fr John Jillions became the priest of the parish in 1998. We had no permanent home until, in December 2000, the community began to worship in the Chapel of Westcott House, an Anglican Theological College. This arrangement was intended to last until the end of 2001 but, more than 15 years later, we still worship there! Fr Raphael Armour was ordained to serve as a second priest to the Community in July 2001. In 2002, the community was received as a Parish of the Sourozh Diocese. Fr Raphael succeed Fr John as Rector of the Parish the following year. Fr Evgeny Selensky was appointed assistant priest of the parish in 2012.
		</p>
	</div>
</div>

<h2>Our saint</h2>
<br>
<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-6">
		<img class="img-thumbnail center-block" src="images/ephrem.jpg"/>
	</div>
	<div class="col-md-9">
		<p>
			Saint Ephraim was born in the city of Nisibis (today's Nusaybin in southeastern Turkey) in 306, just as the Great Persecution of Roman Emperor Diocletian was coming to an end. It is thought that he was born into a Christian family. He was later baptized, ordained deacon and appointed as a teacher by the first Bishop of Nisibis, St Jacob. As a teacher, St Ephraim took up the responsibility of passing on the Orthodox faith in a society where pagan religions, Judaism and early Christian sects vied with one another for adherents. He therefore set about writing Biblical commentaries, homilies and great numbers of hymns as a means of protecting the deposit of truth given to the Church.
		</p>
	</div>
</div>

<h2>Gallery</h2>
<h3>Videos</h3>
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<!-- 16:9 aspect ratio -->
		<div class="embed-responsive embed-responsive-4by3">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLNRTQPmTft_EyCih27tuXhDDrA0PeXxF5" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<h3>Photos</h3>
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-12">

		<a href="https://goo.gl/photos/hKzibvffCA5rinzx6" class="thumbnail"><img class="img-responsive" src="images/album1.jpg"><p align="center">Parish Photos 1</p></a>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<a href="https://goo.gl/photos/266gge5vL7yCd52w6" class="thumbnail"><img class="img-responsive" src="images/album2.jpg"/><p align="center">Parish Photos 2</p></a>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<a href="https://goo.gl/photos/xzxaxtgp9Z8g2AoG6" class="thumbnail"><img class="img-responsive" src="images/album3.jpg"/><p align="center">Celia (Marina) Xie's baptism</p></a>
	</div>
</div>
