
<h2>Parish address</h2>
<br>

<div class="alert alert-danger">
    <em>Please note that from <b>Saturday 22 September</b> our services will be held in St Clement's Church, in Bridge Street, Cambridge (between Portugal Place and Thompsons Lane) Cambridge</em>
</div>
<p class="lead">
Westcott House
<br>
Jesus Lane
<br>
Cambridge, UK
<br>
<b>CB5 8BP</b>
<br><br>
</p>
<p>
After entering the Westcott House from Jesus Lane please walk along the garden and turn left at the end of the road (<b>A-B</b> path on the map below).
<br><br>
The closest parking is available at <a href = "https://www.cambridge.gov.uk/park-street-car-park">Park Street</a> (<b>P</b> sign on the map below).
</p>
<br>
<div class="responsive-iframe-container">
<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1B87lHJA4iqwhCobLSK46IK0DKO8"></iframe>
</div>