
<h2>Parish address</h2>
<br>

<p class="lead">
Parish Church of St Clement
<br>
Bridge St
<br>
Cambridge, UK
<br>
<b>CB2 1UF</b>
<br><br>
</p>
<p>
The closest parking is available at <a href = "https://www.cambridge.gov.uk/park-street-car-park">Park Street</a>.
</p>
<br>
<div class="responsive-iframe-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.885127973742!2d0.11581931579591534!3d52.209134979756435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d870be507904b9%3A0xc0447e392cb0193c!2sParish+Church+of+St+Clement!5e0!3m2!1sen!2suk!4v1537467675733" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>