<h2>Building</h2>
<br>
We began worshipping in the Chapel of Westcott House on Christmas Eve of 2000.
<br><br>
For the last 15 years we have been seeking to have a church building of our own. Unfortunately, with the ever-increasing price of property in Cambridge and the lack of suitable properties, this has proved impossible. In the intervening years, however, our numbers have increased steadily and the Chapel has long ceased large enough to accommodate us.
<br><br>
Some time ago, we began discussions with the Anglican parish of St Clement in Bridge Street, Cambridge, with a view to using their church for our services. The terms of a Licence Agreement were finalised between St Clement's Parish and our Parish. After the approval of the Ely Diocese of the Church of England, the agreement was signed between our two parishes in <b>March 2018</b>.
<br><br>
Various restoration work is needed at St Clement's Church before we move there. The work has already begun and the intention is that St Ephraim's will start worshiping at St Clement's by <b>October 2018</b>.
<br><br>
At St Clement's we shall have a larger space to accommodate the increasing numbers who worship in our parish and, at the same time, will allow us to maintain and increase our liturgical life. We hope it will also allow us to revive our Church School as well as providing facilities for other activities during the week.
<br><br>
Fr Raphael Armour
<br>
April 2018
</p>
