<h2>Building the house of God</h2>
<br>
<p>Over the last several years we have been seeking to have a Church Building of our own.Thus far, our search has not been successful due either to lack of funds or to a suitable properties being available. 
<br><br>
At least once each week, we set up and take down icons, and arrange the Holy Table for Orthodox worship in Westcott House. As you can see from the photo-gallery, this is a major logistical operation, involving cleaning, installing icons, candlestands, candelabra, and the altar not to mention flowers, music, church literature and all the other countless things needed in the church for the services.
<br><br>
A temple in typical Russian style would not only provide a fitting place for our worship but we believe that it would enrich the City of Cambridge, adding another destination for numerous tourists, and also adding a venue for cultural events, language and music courses for the public of Cambridge, as well as facilities for the local community. In a meantime, we continue to pray and work for a building of our own.
<br><br>
Please, help us in our endeavor by your prayers as well as your advice, your time or your money (you can use the <b>Donate</b> button below).
<br><br>
Thank you for your support!
</p>
