<h2>Donations</h2>
<br>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4ZP4P26B8ZCEA">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal # 14 The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

<br><br>

<p>
Standing Order form should be given directly to your bank:
<br>
<a href="docs/standing-order-form.pdf">Standing Order Form</a>
<br><br>
Gift Aid form is to be handed to Simon Connell (<a href="mailto:treasurer@saintephraim.org.uk">treasurer@saintephraim.org.uk</a>):
<br>
<a href="docs/gift-aid-declaration.pdf">Gift Aid Declaration</a>
</p>
