<h2>Donate</h2>

<h3>Up to £20 (collection box)</h3>

A new Gift Aid Small Donations Scheme for charities allows the treasurer to add an extra 25% from the government to money placed into the collection box that is passed around the congregation. This scheme applies even if the donor does not pay UK tax.
<br><br>
Terms and conditions of the scheme:
<ul>
	<li>Nobody should place more than £20 into the collection box.</li>
	<li>We cannot get the extra 25% on money put into the candle box. So please only use the candle money box to pay for candles.</li>
</ul>

<h3>More than £20</h3>

If you wish to donate more than £20 then please set up a Standing Order for regular monthly giving in conjunction with filling out a Gift Aid form to reclaim the extra 25% from the government (see the links below). In this case you need to be a UK tax payer to qualify for the Gift Aid scheme.

<h4>Standing Orders</h4>
Using the standing order form you can set up a regular (monthly) donation to St. Ephraim the Syrian's church funds from your bank. Please print it, complete it and post/hand it to your bank.
<br>
<b><a href="docs/standing-order-form.pdf">Standing Order Form</a></b>

<h4>Gift Aid</h4>
The Gift Aid form can be used by the treasurer of the parish to claim back income tax that you will have paid on your donation by Standing Order. It allows the treasurer to make a claim once a year to recover tax paid. There is no additional cost to you. Please ensure that you are paying sufficient tax to cover the amount to be reclaimed each year. Read all the notes at the bottom of the form and tick the appropriate boxes as you complete the form. If in doubt email the treasurer Simon Connell (<a href="mailto:treasurer@saintephraim.org.uk" target="_blank">treasurer@saintephraim.org.uk</a>). The completed form can be handed to the treasurer or posted to Simon Connell at Father Raphael's address (shown at the top of the form). Do not hand this form to your bank.
<br>
<b><a href="docs/gift-aid-declaration.pdf">Gift Aid Declaration</a></b>

<h3>PayPal</h3>

You can also donate using our PayPal button. We can recover Gift Aid for these donations as long as you complete the Gift Aid form.
<br><br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4ZP4P26B8ZCEA">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal # 14 The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
