<h2>How does the parish work?</h2>
<br>
<div class="row">
<div class="col-md-12">
<p>
As St Paul reminds us, the Church is a body (1 Corinthians 12:12-31). Each member has a different function, some more glamorous than others, but all are vital to the functioning of the whole. As the Body of Christ, the Church is more than the sum of its parts; but as members of this Body we all contribute from the ‘talent’ entrusted to each one of us. This shared responsibility for building up the Church is a very practical reality in our parish, which has always been entirely self-supporting financially, with no funding from the Diocese of Sourozh or any other outside source. The parish depends on all its members giving both financial support and their time and skills. We are called to nurture and encourage those who may go on to serve as clergy, as well as ensuring that the parish has funds to support the clergy it needs. </p>
</div>
</div>
<h2>Please help</h2>
<br>
<p>If you are a member of the parish and would like to help, please fill in the following form:</p>
<br>
<br>
<div class="row" align="center">
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfnBTh4lrP8jpGLQAuRWD5zxYLmkqdqEhvsMLZZy611KGGMOQ/viewform?embedded=true" width="640" height="1335" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
