<h2>Helpers</h2>
<br>
<div class="row">
<div class="col-md-12">
<p>
Our Parish vitally depends on the work of our volunteered helpers. However, the number of helpers is not large and each of them has quite a lot of tasks per week. Having more helpers would help us to reduce the amount of work and to get more parishioners involved in the Parish life. If you are a regular parishioner and you would like to help, please consider the following list of jobs and contact our church warden (<a href="mailto:churchwarden@saintephraim.org.uk?Subject=A%20new%20helper" target="_blank">churchwarden@saintephraim.org.uk</a>).</p>
</div>
</div>
<hr>
<div class="row" align="center">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<h4>Set-up</h4>
		<p>Since we are renting the church, we need to set up and clear up the church every week. Set-ups usually happen on Saturday afternoons before vespers.</p>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<h4>Prosphora</h4>
		<p>Prosphoras have to be prepared for every Liturgy. There is no Liturgy without prosphora and therefore this job is one of the most important ones.</p>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<h4>Altar service</h4>
		<p>There are quite a lot of jobs in the Altar during the services. It is not possible for Fr Raphael to serve the Liturgy or long Vespers alone.</p>
	</div>
</div>
<hr>
<div class="row" align="center">	
	<div class="col-md-4 col-sm-4 col-xs-12">
		<h4>Flowers</h4>
		<p>We always decorate our Parish with flowers during the Liturgy or Vespers. Usually one needs to bring the new flowers and change the old ones on Saturday afternoons before the Vespers.</p>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<h4>Candle/paper burning</h4>
		<p>Used candles and papers have to be burnt and should not be thrown away to the bin. We always have them after every Liturgy.</p>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<h4>Lunches and feasts</h4>
		<p>We have about 5-7 Parish lunches per year and currently there are only 2 families that can organize them.</p>
	</div>
</div>