<div class="row">
<div class="col-md-12">

<h2>Welcome to our website!</h2>
<br>
<p class = "lead" align="left">
We are an Orthodox Parish in Cambridge, UK of the <a href = "http://www.sourozh.org/">Diocese of Sourozh</a> - the diocese of the <a href = "https://en.wikipedia.org/wiki/Russian_Orthodox_Church">Russian Orthodox Church</a> which covers the British Isles. Our parish was founded in <b>1973</b> by <a href = "https://en.wikipedia.org/wiki/Anthony_of_Sourozh">Metropolitan Anthony of Sourozh</a>. We have regular services every Saturday and Sunday.
</p>
</div>
</div>
<hr>
<div class="row">
<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
<img class="img-thumbnail" src="images/parish-photo1.jpg"/>
</div>
<div class="col-lg-7 col-md-6">
<p class="lead">
We are an international Orthodox Parish. The services in the parish are, for the most part in English. Our parishioners come from Russia, Romania, Bulgaria, Serbia, Greece and Cyprus with others, mainly converts, from the UK, Germany, Switzerland, Zimbabwe, Australia, Hong Kong, South Africa and the USA. Each year several University students become part of the parish during their studies in Cambridge. From the 30 people who worshipped at the Divine Liturgy in 2001, on most Sundays we now have some 120 people, about 20% being under the age of eight!
</p>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-12">
<p class = "lead" align="left">
If you are just a visitor, you are welcome to explore the website and to learn more about the Parish. If you are our parishioner and you would like to receive regular newsletters and updates from us, please subscribe to our mailing list using the form below.
</p>
</div>
</div>
