<p class = "lead" align="center">
We are a parish in the East of England Deanery of the <a href = "http://www.sourozh.org/">Diocese of Sourozh</a> - the diocese of the <a href = "https://en.wikipedia.org/wiki/Russian_Orthodox_Church">Russian Orthodox Church</a> which covers the British Isles. Our parish was founded in <b>1973</b> by <a href = "https://en.wikipedia.org/wiki/Anthony_of_Sourozh">Metropolitan Anthony of Sourozh</a>. We have services every Saturday and Sunday. The services are primarily in English, but you will also hear Slavonic, Romanian and Greek.
</p>

<p>
Our parishioners come from many countries - the UK, Russia, Ukraine, Belarus, Latvia, Lithuania, Estonia, Bulgaria, Romania, Germany, Poland, Greece, Cyprus, Egypt, Switzerland, Hungary, Serbia, Australia, Canada and the USA, to name just some – and from many walks of life. Some have had a life in the Orthodox Church in their home country, while others have rediscovered that life here.
</p>

