<h3>Our move to St Clement's church</h3>
<br>

<div class="row">
    <div class="col-md-12 col-sm-12">
    <p>
        <em>September 3rd 2018</em>
        <br><br>
        Dear brothers and sisters,
        <br><br>
        I am writing to confirm what has been announced in the church, so that as many people as possible will be aware of our future life.
        <br><br><b>
        As from Saturday 22 September our services will be held in St Clement's Church, Bridge Street, Cambridge. Great Vespers will continue to be served at 17.00 on Saturday but, starting on 23 September, our celebration of the Divine Liturgy will be at 08.00, each Sunday.
        </b><br><br>
        Building work has been underway at St Clement's for sometime. Last year, the roof of the souh aisle was repaired and now work is underway to install toilets and a kitchen area, convert the south aisle into a meeting room and and build a smaller meeting room above it. As is so often the case, however, there have been delays to the building work and, although it will not be completed until December, the parish council decided that we should move our services to St Clement's in September 2018, as planned. One of the factors is that by 23 September it will still be light before 08.00 and it would better to start worshipping at St Clement's then, rather than wait until December, when the sun does not rise until after 08.00!
        <br><br>
        Several of our people are dependent on public transport and that buses do not reach Cambridge until about 09.30. We hope to arrange rides to church, where necessary. If you will need a ride to the Liturgy on Sundays or if you are able to offer a ride to a fellow parishioner, please contact our churchwarden , Vladimir Kiselev (email: <a href="mailto:churchwarden@saintephraim.org.uk ">churchwarden@saintephraim.org.uk</a>)
        <br><br>
        May God bless us as we move into this new chapter in the life of our parish.
        <br><br>
        With my love in Christ,
        <br>
        Fr Raphael
        </p>
    </div>
</div>

<br>
<hr />
<br>

<h2>Welcome to our website!</h2>
<br>
<div class="row">
<div class="col-md-6 col-sm-6">
<p class = "lead">
We are an Orthodox Parish in Cambridge, UK of the <a href = "http://www.sourozh.org/">Diocese of Sourozh</a> - the diocese of the <a href = "https://en.wikipedia.org/wiki/Russian_Orthodox_Church">Russian Orthodox Church</a> which covers the British Isles. Our parish was founded in <b>1973</b> by <a href = "https://en.wikipedia.org/wiki/Anthony_of_Sourozh">Metropolitan Anthony of Sourozh</a>. We celebrate Great Vespers or Vigil each Saturday at 17:00 and the Divine Liturgy each Sunday at 10:00. Services are also celebrated on the great feasts of the Orthodox Church.
</p>
<h3>The Parish</h3>
<p>
We are an international Orthodox Parish. The services in the parish are, for the most part in English. Our parishioners come from Russia, Romania, Bulgaria, Serbia, Greece, Bulgaria and Cyprus with others, mainly converts, from the UK, Germany, Switzerland, Zimbabwe, Australia, Hong Kong, South Africa and the USA. Each year several University students become part of the parish during their studies in Cambridge. From the 30 people who worshipped at the Divine Liturgy in 2001, on most Sundays we now have some 120 people, about 20% being under the age of eight!
</p>
<h3>Join Us</h3>
<p>
If you are just a visitor, you are welcome to explore the website and to learn more about the Parish. If you are our parishioner and you would like to receive regular newsletters and updates from us, please like our Facebook page or subscribe to our mailing list using the form below.
</p>
<!-- <img class="img-thumbnail" src="images/parish-photo1.jpg"/> -->
</div>
<div class="hidden-xs hidden-sm col-md-1 col-sm-6">
</div>
<div class="col-md-5 col-sm-6">
<iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsaintephraim.org.uk%2F&tabs=timeline&width=340&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
</div>

