<h2>Service timetable</h2>
<br>
<div class="alert alert-warning">
	<p>
 		Please note that due to security reasons access to the Westcott House out of business hours is limited and the gate will only be open at the times shown below the calendar.
 	</p>
</div>
<div class="row">
<div class="col-md-10">
	<div class="embed-responsive embed-responsive-4by3">
		<iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=saintephraim.org.uk%40gmail.com&amp;color=%238C500B&amp;ctz=Europe%2FLondon" style="border-width:0" class="embed-responsive-item" frameborder="0" scrolling="no"></iframe>
	</div>
</div>

<!-- <div class="hidden-md hidden-sm">
	<div class="embed-responsive embed-responsive-4by3">
		<iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=saintephraim.org.uk%40gmail.com&amp;color=%238C500B&amp;ctz=Europe%2FLondon" style="border-width:0" class="embed-responsive-item" frameborder="0" scrolling="no"></iframe>
	</div>
</div> -->
</div>

<h2>Gate opening times</h2>
<hr>
<div class="row">
<div class="col-md-6">
<h3>Saturday</h3>

<h4>Morning (in case of Liturgy)</h4>
<p>
09.00 - gate opens once (for those who would like to confess).
<br>
09.30 - 10.00 - gate is open and supervised. 
<h4>Afternoon</h4>
16.30 - gate opens once. 
<br>
16.45 - 17.05 - gate is open and supervised, then locked until the end of service. 
</p>
</div>

<div class="col-md-6">
<p>
<h3>Sunday</h3>
08.30 - gate opens once. 
<br>
09.00 - gate opens once (for those who would like to confess). 
<br>
09.30 - 10.00 - gate is open and supervised. 
<br>
10.15 - gate opens once. 
<br>
10.30 - gate opens once and then closed until the end of Liturgy. 
</p>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-12">
<p>
<h3>Weekdays</h3>

<h4>Mornings (in case of Liturgy)</h4>
The gate is always open from 09:00 for normal business.

<h4>Evenings (in case of Vespers)</h4>
The gate is opened 15 minutes before the start of the service and then locked five minutes after the service begins. 

</p>
<h4>People can let themselves out at any time but must lock the gate as they leave.</h4>
</div>
</div>